body {
  background-color: #BAB2B5;
  text-align: center;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5D5C61;
}

li.navbar {
  float: left;
}

li a.navbar {
  display: block;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
  background-color: #5D5C61;
}

li a.navbar:hover {
  background-color: #557A95;
}

#active {
  background-color: #7395AE;
}
